/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-capitainewp-gut-bases {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.picturelegend{
	position: relative;
}
.legende{
	position: absolute;
	bottom: 0;
	background-color: #242424c9;
	font-style: italic;
	font-weight: 300;
	color: white;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	text-align: center;

}